/example-run-001_20230517T1827_v2.qgz
/canopy.cpg
/canopy.dbf
/canopy.prj
/canopy.shp
/canopy.shx
/bare_earth.cpg
/bare_earth.dbf
/bare_earth.prj
/bare_earth.shp
/bare_earth.shx
/fuel.cpg
/fuel.dbf
/fuel.prj
/fuel.shp
/fuel.shx
/bare_earth_background.shx
/bare_earth_background.dbf
/bare_earth_background.shp
/bare_earth_background.prj
/bare_earth_background.cpg
/background_cleaned.dbf
/background_cleaned.prj
/background_cleaned.shp
/background_cleaned.shx
/bare_earth_merged.shp
/fuel_merged.shx
/bare_earth_merged.dbf
/fuel_merged.shp
/canopy_merged.shp
/fuel_cleaned.shp
/fuel_cleaned.dbf
/bare_earth_merged.shx
/fuel_merged.prj
/canopy_merged.dbf
/canopy_merged.prj
/bare_earth_merged.prj
/fuel_merged.dbf
/canopy_merged.shx
/fuel_cleaned.shx
/fuel_cleaned.prj
/bare_earth_file.shp
/canopy_final.qmd
/fuel_final.shp
/fuel_final.dbf
/bare_earth_final.shx
/bare_earth_final.cpg
/bare_earth_file.shx
/canopy_final.dbf
/canopy_final.prj
/bare_earth_file.cpg
/bare_earth_file.dbf
/fuel_final.shx
/fuel_final.prj
/bare_earth_final.qmd
/bare_earth_file.qmd
/bare_earth_final.shp
/bare_earth_file.prj
/canopy_final.shp
/bare_earth_final.dbf
/canopy_final.shx
/canopy_final.cpg
/fuel_final.qmd
/fuel_final.cpg
/bare_earth_final.prj
/mesh_processing.qgz
