/left_image.psx
/safeforest_oporto_22_08_17_collect_1_left.files
/safeforest_oporto_22_08_17_collect_1_left.psx
/safeforest_oporto_22_08_17_collect_1_left_image_poses.xml
/safeforest_oporto_22_08_17_collect_1_left_image_poses.npy
